<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StroreId" value="1000"/>
		<add key="CashRegisterTerminalNumber" value="1" />
		<add key="OperatorId" value="1" />
		<add key="OperatorName" value="Max Mustermann" />
		<add key="VatIdentificationNumber" value="ATU57780814" />
		<add key="ReceiptPrinterIpAddress" value="10.15.0.165" />
	</appSettings>
</configuration>